<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>ONESIGNAL</Name>
    <Type>Notifications</Type>
    <ClassName>com.genexuscore.genexus.common.notifications.onesignal.{procName}</ClassName>
    <Properties>
      <Property>
        <Name>APP_ID</Name>
        <Value>ae91eb4b-209b-4ec5-89f1-b307b2ac762a</Value>
      </Property>
      <Property>
        <Name>REST_API_KEY</Name>
        <Value>os_v2_app_v2i6wszatnhmlcprwmd3fldwfix4sia3julu2bfxxqwoaarm2eppvffq4tj7eks3qthbqyi6sxnelh7z34uncqr7hcj7eh67zb35nfq</Value>
      </Property>
    </Properties>
  </Service>
  <Service>
    <Name>INPROCESS</Name>
    <Type>WebNotifications</Type>
    <ClassName>com.genexus.internet.websocket.GXWebSocket</ClassName>
    <Properties>
      <Property>
        <Name>WEBNOTIFICATIONS_RECEIVED_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONOPEN_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONCLOSE_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONERROR_HANDLER</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
</Services>